* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header p {
    font-size: 15px;
    background-color: #1CD1B0;
    height: 38px;
    padding-top: 10px;
    padding-left: 10px;
}

h1 {
    box-shadow: 0px 10px 7px 0px #00000040;
    background-color: #00669F;
    height: 100px;
    font-size: 40px;
    padding-top: 25px;
    padding-left: 25px;
}

.heroes {
    position: relative;
    top: 100px;
    height: 530px;
}

.card {
    position: absolute;
    width: 300px;
    height: 530px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 16px 16px 0px 0px;

}

.one {
    margin-left: 30px;
}

.two {
    margin-left: 360px;
}

.three {
    margin-left: 690px;
}
.like {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.foto {
    position: absolute;
    left: 90px;
    top: 130px;
    border-radius: 50%;
}

.marado {
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}

.diego {
    width: 122px;
    height: 120px;
}

h2 {
    font-size: 30px;
    margin-top: 65px;
    text-align: center;
}

section p {
    width: 270px;
    font-size: 16px;
    margin-top: 18px;
    margin-left: 15px;
}

button {
    width: 130px;
    height: 50px;
    background-color: #00669F;
    color: white;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 85px;
    
}
.boton {
    margin-top: 60px;
}

footer {
    margin-top: 200px;
    height: 30px;
    background-color: #00669F;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}
